<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>we R tech - Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- Temp css -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/Kanha0101/weRtech/main/css/contact.css">
    <link rel="stylesheet" href="../stylesheets/contact.css">
</head>

<body>
    <div class="contact-container">
        <form class="contact-left" action="https://api.web3forms.com/submit" method="post">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
            </div>
            <hr>
            <input type="hidden" name="access_key" value="9c5360fc-187e-4ddf-bda0-00516026a6ec">
            <input type="text" name="name" placeholder="Your name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your email" class="contact-inputs" required>
            <textarea name="mesage" placeholder="Your message" class="contact-inputs" required style="font-family: Ubuntu"></textarea>
            <button type="submit">Submit <img src="https://raw.githubusercontent.com/Kanha0101/weRtech/main/assets/img/arrow_icon.png" alt=""></button>
        </form>
        <div class="contact-right">
            <img src="https://raw.githubusercontent.com/Kanha0101/weRtech/main/assets/img/right-img.png" alt="">
        </div>
</body>

</html>